<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<body>
    <section>
        Header
    </section>
    <section>
        {{{body}}}
    </section>
    <section>
        Footer
    </section>
</body>

</html>